<!-- Navigation -->
    <nav style="font-size:20px;"class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a style="font-size:25px;" class="navbar-brand" href="/">정보통신공학과</a>
         <% if user_signed_in? %>
        <a style="font-size:15px;"  href="/mypage/index">|내정보|</a>
        <a style="font-size:15px;" href="/chat/index">|심심이|</a>
         <a style="font-size:15px;" href="/map/index">|지도|</a>
        <a style="font-size:15px;"  href="http://wku.ac.kr">|원광대학교|</a>
        <a style="font-size:15px;" href="https://www.inflearn.com/">|프로그래밍 무료강좌|</a>
        <a style="font-size:15px;" href="https://www.codecademy.com/">|코딩 무료 교육|</a>
        <a style="font-size:15px;" href="https://likelion.net/ko">|멋쟁이 사자처럼 소개|</a>
        <a style="font-size:15px;" href="/posts">|게시판|</a>
        <% else %>
        <% end %>
        <% if user_signed_in? %>
        </br>
        <a style="color:#FFFFFF" class="btn btn-primary" href="/users/sign_out">로그아웃</a>
        <% else %>
        <a style="color:#FFFFFF" class="btn btn-primary" href="/users/sign_in">로그인</a>
        <% end %>
      </div>
    </nav>
<div class="container">
  
<div class="row">
  <div class="col-md-12">
    <h2>개인정보 변경</h2>
    
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.label "닉네임" %><br/>
        <%= f.text_field :nickname, :required => true %><br/>
      </div><hr>
      <div class="form-group">
         <%= f.label :"이름" %><br>
         <%= f.text_field :name, autofocus: true %>
      </div><hr>
      <div class="form-group">
          <%= f.label :"나이" %><br>
          <%= f.number_field :age, autofocus: true %>
      </div><hr>
      <p style="margin-bottom:0;">
          <%= f.label :"성별" %><hr>
        </p>
      <div class="btn-group" >
          <%= f.label :"남자", class: "radio_button active" %>
          <%= f.radio_button :gender, '남자', checked: true %>
    
          <%= f.label :"여자", class: "radio_button active" %>
          <%= f.radio_button :gender, '여자', checked: true %>
      </div> 
      <br><br><hr>
      <div class="field">
        <%= f.label :"이메일" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div><hr>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <%= f.label :"비밀번호" %> <i>(변경하고 싶지 않으면 공란으로 남겨 두십시오.)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em>최소<%= @minimum_password_length %>자</em>
        <% end %>
      </div><hr>
    
      <div class="field">
        <%= f.label :"비밀번호_확인" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div><hr>
    
      <div class="field">
        <%= f.label :"현재_비밀번호" %> <i>(변경 사항을 확인하려면 현재 비밀번호가 필요합니다.)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div><hr>
      <div class="actions">
        <%= f.submit "정보수정", class: "btn btn-primary" %> 
      </div><hr>
    <% end %>
    
    <%= link_to "돌아가기", root_path %>
  </div>
</div>

</div>